* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f5f7;
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #c2d1f0;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.title {
    font-weight:bold;
    font-size: 24px; 
    color: #003c8f;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    /* padding dapat andito kaso masyadong magkakahiwalay */
}

.nav-links a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    color: #3c4043;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a.active {
    background-color: #b0c4e6; 
    color: #003c8f;
    font-weight: bold;
}

.nav-links a .icon {
    margin-right: 15px; 
}

.main-content {
    margin-top: -300px;
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

header {
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting h1 {

    font-size: 24px;
}

.greeting p {
    font-size: 16px;
    color: #666;
}

.search-bar {
    margin-left: 300px;
    display: flex;
}


.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 400px;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px;
    background-color: #c2d1f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sections {
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

section table {
    width: 100%;
    border-collapse: collapse;
}

section th, section td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.summaries {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.item-summary, .product-summary {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 48%;
}
